<div style="background-color: #E8F5E9; padding: 15px; margin-top: 20px; border-radius: 10px;">
    <h4>Course Details</h4>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Python - Duration : 6 months, Fees : 5000 INR</li>
        <li class="list-group-item">Java - Duration : 4 months, Fees : 4000 INR</li>
        <li class="list-group-item">JavaScript - Duration : 3 months, Fees : 4500 INR</li>
        <li class="list-group-item">C# - Duration : 8 months, Fees : 6000 INR</li>
        <li class="list-group-item">PHP - Duration : 4 months, Fees : 3000 INR</li>
    </ol>
</div>