
<h1>Directives</h1>

<h2>ngClass directive</h2>

<div [ngClass]="'css1 css4'">
    (1) ngClass is working.
</div>

<div [ngClass]="isTrue ? class1 : class2">
    (2) ngClass is working.
</div>

<div [ngClass]="['css1', 'css3']">
    (3) ngClass is working.
</div>

<div [ngClass]="{'css1' : myCountry=='India', class3}">
    (4) ngClass is working.
</div>

<h2>ngStyle directive</h2>

<div [ngStyle]="{
    'font-style': this.canSave ? 'italic' : 'normal',
    'font-weight': !this.isUnchanged ? 'bold' : 'normal',
    'font-size': this.isSpecial ? '40px' : '20px'
  }">
    ngStyle is working.
</div>

<div [ngStyle]="currentStyles">
    ngStyle is working using method.
</div>

<h2>Custom attribute directive</h2>

<b appChangeMe color="yellow" bg-color="blue">{{message}}</b>


<br><hr>
<h1>style binding</h1>

<div [style]="{'background-color': 'green', 'color':'white', 'font-weight':'bold'}">
    (1) Hello World! using style binding.
</div>

<div [style]="{'background-color': color}">
    (2) Hello World! using style binding.
</div>

<div [style.background-color]="color" [style.color]="isRed ? 'red' : ''">
    (3) Hello World! using style binding.
</div>


<br><hr>
<h1>class binding</h1>

<div [class]="'css1 css3'">
    Hello World! using class binding.
</div>

<div [class]="class4">
    class4 using class binding.
</div>

<div [class]="class5">
    class5 using class binding.
</div>

<div [class.css1]="isTrue">
    Hello World! using class binding with boolean.
</div>


<br><hr>

<h1>if else if else condition</h1>

@if (age <= 14) {
    <div [class]="'css3'">You are child</div>
}@else if (age > 14 && age < 18) {
    <div [class]="'css3'">You are teenager</div>
}@else if (age >= 18 && age <= 50) {
    <div [class]="'css3'">You are young</div>
} @else {
    <div [class]="'css3'">You are old</div>
}

<h1>for loop</h1>

@for (country of countries; track $index) {
    <div [class]="'css3'">{{$index + 1 + ' - ' + country}}</div>
}@empty {
    <h2>Empty</h2>
}

<h1>Switch case</h1>

@switch (month) {
    @case (1) {
        <div [class]="'css3'">Today's month is January</div>
    }
    @case (2) {
        <div [class]="'css3'">Today's month is February</div>
    }
    @case (3) {
        <div [class]="'css3'">Today's month is March</div>
    }
    @case (4) {
        <div [class]="'css3'">Today's month is April</div>
    }
    @case (5) {
        <div [class]="'css3'">Today's month is May</div>
    }
    @case (6) {
        <div [class]="'css3'">Today's month is June</div>
    }
    @case (7) {
        <div [class]="'css3'">Today's month is July</div>
    }
    @case (8) {
        <div [class]="'css3'">Today's month is August</div>
    }
    @case (9) {
        <div [class]="'css3'">Today's month is September</div>
    }
    @case (10) {
        <div [class]="'css3'">Today's month is October</div>
    }
    @case (11) {
        <div [class]="'css3'">Today's month is November</div>
    }
    @case (12) {
        <div [class]="'css3'">Today's month is December</div>
    }
    @default {
        <div [class]="'css1'">No data matched.</div>
    }
}


<br><hr>
<h1>Attribute binding</h1>

<table border="1">
    <tr>
        <td [attr.colspan]="colspan">Employee Details</td>
    </tr>
    <tr>
        <td>Nmae</td>
        <td>Dinesh</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>Male</td>
    </tr>
</table>


<br><hr>
<h1>Property binding</h1>

<div [innerHTML]="message"></div>
<br>
<img [src]="img" alt="Not found" width="200px" />

<h2>Difference between "Property binding" and "Interpolation"</h2>

<h2>Property binding</h2>
<button (click)="toggleDisable()" [disabled]="isTrue">Click</button>

<h2>Interpolation</h2>
<!-- second method to use events -->
<button on-click="toggleDisable()" disabled="{{isTrue}}">Click</button>

<br><br>
<button (click)="toggleDisable()">Click to see difference</button>


<br><hr>
<h1>Template reference variable</h1>

<div>
    <!-- Enter your message : <input type="text" (keyup)="setMessage(txtMsg.value)" #txtMsg /> -->
    Enter your message : <input type="text" (keyup)="message=txtMsg.value" #txtMsg />
    <h4>Message : <span style="color: blue;">{{message}}</span></h4>
</div>


<br><hr>
<h1>Pipes</h1>

<h2>uppercase, lowercase and titlecase</h2>

<div><b>uppercase : </b>{{message | uppercase}}</div>
<div><b>lowercase : </b>{{message | lowercase}}</div>
<div><b>titlecase : </b>{{message | titlecase}}</div>

<h2>slice</h2>

<div>{{message | slice :6}}</div>
<div>{{message | slice :1:4}}</div>
<div>{{countries | slice :2:5}}</div>

<h2>json</h2>

<div>{{obj | json}}</div>

<h2>currency</h2>

<div>{{price | currency}}</div>
<div>{{price | currency :"USD"}}</div>
<div>{{price | currency :"INR"}}</div>
<div>{{price | currency :"EUR"}}</div>
<div>{{price | currency :"GBP"}}</div>
<div>{{price | currency :"CAD"}}</div>
<div>{{price | currency :"USD":"code":"2.3-4"}}</div>

<h2>number</h2>

<div>{{decimal | number}}</div>
<div>{{decimal | number :"2.4"}}</div>
<div>{{decimal | number :"2.3-5"}}</div>
<div>{{decimal | number :"2.3-5":"en-US"}}</div>

<h2>percent</h2>

<div>{{decimal | percent}}</div>
<div>{{decimal | percent :"2.3-4"}}</div>

<h2>date</h2>

<div><b>date : </b>{{currentDate | date}}</div>
<br>
<div><b>short : </b>{{currentDate | date :"short"}}</div>
<div><b>medium : </b>{{currentDate | date :"medium"}}</div>
<div><b>long : </b>{{currentDate | date :"long"}}</div>
<div><b>full : </b>{{currentDate | date :"full"}}</div>
<br>
<div><b>shortDate : </b>{{currentDate | date :"shortDate"}}</div>
<div><b>mediumDate : </b>{{currentDate | date :"mediumDate"}}</div>
<div><b>longDate : </b>{{currentDate | date :"longDate"}}</div>
<div><b>fullDate : </b>{{currentDate | date :"fullDate"}}</div>
<br>
<div><b>shortTime : </b>{{currentDate | date :"shortTime"}}</div>
<div><b>mediumTime : </b>{{currentDate | date :"mediumTime"}}</div>
<div><b>longTime : </b>{{currentDate | date :"longTime"}}</div>
<div><b>fullTime : </b>{{currentDate | date :"fullTime"}}</div>
<br>
<div><b>h (hour) : </b>{{currentDate | date :"h"}}</div>
<div><b>m (minutes) : </b>{{currentDate | date :"m"}}</div>
<div><b>s (seconds) : </b>{{currentDate | date :"s"}}</div>
<div><b>a (AM/PM) : </b>{{currentDate | date :"a"}}</div>
<div><b>h:m:s a : </b>{{currentDate | date :"h:m:s a"}}</div>
<br>
<div><b>d (day) : </b>{{currentDate | date :"d"}}</div>
<div><b>M (month) : </b>{{currentDate | date :"M"}}</div>
<div><b>y (year) : </b>{{currentDate | date :"y"}}</div>
<div><b>W (week of the month) : </b>{{currentDate | date :"W"}}</div>
<div><b>w (week of the year) : </b>{{currentDate | date :"w"}}</div>
<div><b>E (week day) : </b>{{currentDate | date :"E"}}</div>
<div><b>dd-MM-yyyy : </b>{{currentDate | date :"dd-MM-yyyy"}}</div>
<div><b>d MMM, yyyy : </b>{{currentDate | date :"d MMM, yyyy"}}</div>
<div><b>d MMMM, yyyy : </b>{{currentDate | date :"d MMMM, yyyy"}}</div>

<h2>Pipe chaining</h2>

<div>{{currentDate | date :"fullDate" | uppercase}}</div>

<h2>Custom pipe</h2>

<div>{{message | myPipe}}</div>
<div>{{4 | power:3}}</div>


<br><hr>
<h1>Parent to child communication</h1>

<h3 style="color: white; background-color:blueviolet; padding: 5px;">Parent component</h3>

<input type="text" (keyup)="0" #parent>

<app-child [parentData]="parent.value"></app-child>
<!-- OR -->
<!-- <app-child parentData={{parent.value}}></app-child> -->


<br><hr>
<h1>Child to parent communication</h1>

<h3 style="color: white; background-color:blueviolet; padding: 5px;">Parent component</h3>

Child Data : <b style="color: red;">{{childData}}</b>

<app-child (eventEmitter)="getData($event)"></app-child>
<!-- OR -->
<!-- <app-child (eventEmitter)="childData = $event"></app-child> -->


<br><hr>
<h1>"&#64;HostListner" decorator</h1>

<div>
    <span appHoverHighlight style="font-size: 20px; font-style: italic;">
        Hover over this text to see the highlight effect.
    </span>
</div>


<br><hr>
<h1>"&#64;HostListner" and "&#64;HostBinding" decorator</h1>

<div appChangeBgColor style="cursor: pointer;">
    <h2>Click here! I'm HostListener</h2>
</div>

<br><hr>
<h1>Forms</h1>

<h2>Template-Driven Form</h2>
<app-template-driven-form></app-template-driven-form>
<br>
<h2>Model-Driven Form (Reactive Form)</h2>
<br>
<app-model-driven-form></app-model-driven-form>

