<div class="row">
    <div class="col-md-4">
        <app-programming>
            <img src="c-sharp.png" class="card-img-top" alt="c-sharp">
            <h2 class="card-title">C#</h2>
            <p class="card-text">
                C# is a general-purpose high-level programming language that runs on the .NET Framework.
            </p>
        </app-programming>
    </div>
    <div class="col-md-4">
        <app-programming>
            <img src="java.png" class="card-img-top" alt="java">
            <h2 class="card-title">Java</h2>
            <p class="card-text">
                Java is a high-level, general-purpose, memory-safe, object-oriented programming language.
            </p>
        </app-programming>
    </div>
    <div class="col-md-4">
        <app-programming>
            <img src="python.png" class="card-img-top" alt="python">
            <h2 class="card-title">Python</h2>
            <p class="card-text">
                Python is a high-level, general-purpose programming language.
            </p>
        </app-programming>
    </div>
</div>